# 03_imdb_top_250.ipynb

Scrape movie names, release years, and ratings from [IMDB Top 250](https://www.imdb.com/chart/top) using `requests` + `BeautifulSoup`. Beginner-friendly with step-by-step explanation.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = "https://www.imdb.com/chart/top"

In [ ]:
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
# Each row (movie) is inside <tbody> of class "lister-list"
movie_table = soup.find("tbody", class_="lister-list")
movie_rows = movie_table.find_all("tr")

print(f"Total Movies Found: {len(movie_rows)}")

In [ ]:
# Let's inspect just the first movie for understanding
first_movie = movie_rows[0]
print(first_movie.prettify()[:1000])  # Preview

In [ ]:
title_column = first_movie.find("td", class_="titleColumn")
title = title_column.a.text.strip()
year = title_column.span.text.strip("()")
rating = first_movie.find("td", class_="ratingColumn imdbRating").strong.text.strip()

print("Title:", title)
print("Year:", year)
print("Rating:", rating)

In [ ]:
titles = []
years = []
ratings = []

for row in movie_rows:
    title_column = row.find("td", class_="titleColumn")
    title = title_column.a.text.strip()
    year = title_column.span.text.strip("()")
    rating = row.find("td", class_="ratingColumn imdbRating").strong.text.strip()

    titles.append(title)
    years.append(year)
    ratings.append(rating)

In [ ]:
df = pd.DataFrame({
    "Title": titles,
    "Year": years,
    "IMDB Rating": ratings
})

df.head()

In [ ]:
df.to_csv("imdb_top_250.csv", index=False)
print("Saved to imdb_top_250.csv")